/Graficos1/nbproject/private/
/Graficos1/build/
/Graficos1/dist/
/Graficos2/nbproject/private/
/Graficos2/build/
/Graficos3/nbproject/private/
/Graficos3/build/
/Graficos4/nbproject/private/
/Graficos4/build/
/Graficos5/nbproject/private/
/Graficos5/build/
/PseudoMario/nbproject/private/
/PseudoMario/build/
/Graficos6/nbproject/private/
/Graficos6/build/